<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{common/layout_4block :: layout(~{::body/content()})}">
<head>
<title>注文登録確 | シェアードショップ</title>
<meta charset="UTF-8" />
</head>
<body>
	<h2 class="title">
		注文内容最終確認
	</h2>
	<br />
	<table class="list_table item_detail" th:if="${sesson.basketList} != null">
		<tr>
			<th>
				商品名
			</th>
			<th>
				商品画像
			</th>
			<th>
				単価
			</th>
			<th>
				数量
			</th>
			<th>
				小計
			</th>
		</tr>

		<tr th:each="basketList: ${sesson.basketList}">
			<td th:text="${basketList.name}"></td>
			<td th:text="${basketList.image}">
				<span th:if="${basketList.image != null}">
					<img th:src="@{/img/{image}(image=${basketList.image})}"></img>
				</span>
				<span th:if="${basketList.image == null}">
					<img th:src="@{/img/common/no_image.jpg}"></img>
				</span>
			</td>
			<td th:text="${basketList.price}"></td>
			<td th:text="${basketList.stock}"></td>
			<td th:text="${basketList.subtotal}"></td>
		</tr>

		<tr>
			<td colspan="3"></td>
			<th class="total">合計</th>
			<td th:text="${sesson.total}" class="total"></td>
		</tr>
	</table>

	<div class="user_info_form_area">
		<table class="detail_table address">
			<caption class="table_caption">
				お届け先
			</caption>
			<tr>
				<th>郵便番号</th>
				<td th:text="${sesson.orderInfo.postalCode}"></td>
			</tr>
			<tr>
				<th>住所</th>
				<td th:text="${sesson.orderInfo.address}"></td>
			</tr>
			<tr>
				<th>氏名</th>
				<td th:text="${sesson.orderInfo.name}"></td>
			</tr>
			<tr>
				<th>電話番号</th>
				<td th:text="${sesson.orderInfo.phoneNumber}"></td>
			</tr>
		</table>

		<table class="detail_table pay">
			<caption class="table_caption">
				お支払い方法
			</caption>
			<tr>
				<th>お支払い方法</th>
				<td th:switch="${sesson.orderInfo.payMethod}">
					<span th:case="1">クレジットカード</span>
					<span th:case="2">銀行振り込み</span>
					<span th:case="3">着払い</span>
					<span th:case="4">電子マネー</span>
					<span th:case="5">コンビニ決済</span>
				</td>
			</tr>
		</table>
		<form method="post" action="/shared_shop/order/regist/complete" >
			<input class="send_button" type="submit" value="ご注文の確定" />
		</form>
		<form method="post" action="/shared_shop/order/regist/paymentInput">
			<input class="back_button" type="submit" value="戻る" />
		</form>
	</div>
</body>
</html>